

<h1>Latest Scapes</h1>

<% @post.each do |post| %>
    <div>
        <% if post.user.avatar.attached?  %>
            <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.square, class: "menu-avatar" %>
            <% end %>
        <% end %>
        <%= link_to post.user.username, user_path(post.user) %>
        <p><%= post.image.created_at.strftime("%d %b %y") %></p>
    </div>
    <div>
        <%= link_to (image_tag post.image, class: "show-image"), post %>    
    </div>
<% end %>



