<% if user_signed_in? %>
    <div>
        <%= link_to 'ADD NEW SCAPE', new_post_path %>
    </div>
<% end %>

<% @post.each do |post| %>
    <div>
        <% if post.user.avatar.attached?  %>
            <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.avatar, class: "menu-avatar" %>
            <% end %>
        <% end %>
        <span>
            <%= link_to user_path(post.user) do %>
                <%= post.user.username %>
            <% end %>
        </span>
    </div>
    <div>
        <%= link_to (image_tag post.image, class: "show-image"), post %>    
    </div>
<% end %>



