<div class="row">
    <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
</div>

<%# post %>
<span><%= @post.user.name %></span>
<%# number of like %>
<div>
<span><i class="fas fa-heart"></i><%= @post.get_likes.size %></span>
<%# comments %>
<span><i class="fas fa-comments"></i><%= comment_count = pluralize(@post.comments.count, "comment") %></span>
</div>

<div>
<%= image_tag @post.image, class: "show-image" %>
</div>

<div>
    <%# like button %>
    <a href="<%= like_post_path(@post) %>" data-method="get">
        <i class="far fa-heart"></i>
        Like
    </a>
</div>

<div class="row">
    <div class="col-6">
        <div><i class="fas fa-image"></i> <%= @post.title %></div>
        <div><i class="fas fa-compass"></i> <%= @post.location %></div>
        <div><i class="fas fa-camera"></i> equipment used needs to go here </div>
        <p><%= @post.description %></p>
    </div>
    <div class="col-6">
        <%# add comment %>
        <%= render '/comments/form' %>

        <% @comments.each do |comment| %>
            <% if user_signed_in? && current_user.id == comment.user_id  %>
                <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <strong><%= comment.user.name %></strong>
            <p><%= comment.content %></p>
        <% end %>
    </div>
</div>



